<template>
  <div class="benefit">
    <p class="benefit__upTitle">{{ props.benefit.up_title }}</p>
    <p class="benefit__content">{{ props.benefit.content }}</p>
    <p class="benefit__downTitle">{{ props.benefit.down_title }}</p>
  </div>
</template>

<script setup lang="ts">
const props = defineProps(["benefit"]);
</script>

<style>
.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.3s;
  position: relative;
}

.benefit:hover {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0) 60%,
    rgba(238, 238, 238, 0.1) 100%
  );
}

.benefit__content {
  font-size: 50px;
  font-weight: bold;
}

.benefit__upTitle {
  margin-bottom: 10px;
}
</style>
