<template>
  <div class="button__background">
    <button class="title__button">Начать путешествие</button>
  </div>
</template>

<style>
.button__background {
  margin-top: 100px;
  padding: 1px;
  display: inline-block; /* Добавим это свойство для того, чтобы бордер охватывал только кнопку */
}

.title__button {
  padding: 10px 20px;
  border: 2px solid transparent; /* Устанавливаем исходно прозрачный бордер */
  border-image: linear-gradient(45deg,rgba(0,22,60,1) 4%, rgba(4,92,165,1) 50%, rgba(0,22,60,1) 96%);
  border-image-slice: 1; /* Задаем границы для градиента */
  background-clip: padding-box; /* Указываем, что градиент должен быть виден внутри бордера */
  cursor: pointer;
}

.title__button:hover {
  padding: 10px 20px;
  border: 2px solid transparent; /* Устанавливаем исходно прозрачный бордер */
  border-image: linear-gradient(45deg, rgba(255,255,255,1) 3%, rgba(0,22,60,1) 4%, rgba(4,92,165,1) 50%, rgba(0,22,60,1) 96%, rgba(255,255,255,1) 97%);
  border-image-slice: 1; /* Задаем границы для градиента */
  background-clip: padding-box; /* Указываем, что градиент должен быть виден внутри бордера */
  cursor: pointer;
  transition: 0.2s;
}
</style>
