<script setup lang="ts">
import MyBenefit from "@/components/MyBenefit.vue";
import MyTitle from "@/components/MyTitle.vue";
import { ref, onMounted } from 'vue'
import { useMenuStore } from '@/stores/menu'

const menuStore = useMenuStore()


const benefits = ref([
  {
    id: 1,
    up_title: "верхний",
    content: "#",
    down_title: "нижний",
  }
]);

// Получаем данные для заголовка
onMounted(async () => {
  const benefitData = await menuStore.fetchItems('benefit')
  if (benefitData?.length) {
    benefits.value = benefitData
  }
})
</script>

<template>
  <div class="container">
    <div class="main">
      <MyTitle />
      <div class="benefits">
        <MyBenefit
          v-for="benefit in benefits"
          :key="benefit.id"
          :benefit="benefit"
        />
      </div>
    </div>
  </div>
</template>

<style scoped>
.main {
  display: flex;
  justify-content: space-between;
  margin-top: 30vh;
}

.benefits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

/* Add a media query to change flex direction on smaller screens */
@media screen and (max-width: 767px) {
  .main {
    flex-direction: column; /* Change flex direction to column */
    align-items: center; /* Center items vertically */
    margin-top: 10vh;
  }
  .benefits {
    margin-top: 100px;
    grid-template-columns: repeat(1, 1fr);
  }
}
</style>

