<template>
  <header class="header">
    <div class="container">
      <img alt="Vue logo" src="/images/logo.png" />
      <div class="menu" :class="{ 'menu-open': isMenuOpen }">
        <!-- Add a wrapper for the hamburger menu -->
        <div class="hamburger-wrapper">
          <div class="menu__toggle" @click="toggleMenu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav class="nav">
          <a
            :href="navLink.path"
            class="menu__link"
            v-for="navLink in navLinks"
            :key="navLink.id"
          >{{ myCapitalize(navLink.title) }}</a>
        </nav>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";
import { useMenuStore } from "@/stores/menu";
import { myCapitalize } from "@/utils/helpers";

const menuStore = useMenuStore();

const navLinks = ref([
  {
    id: 1,
    title: "страница",
    path: "#",
  },
  {
    id: 2,
    title: "о нас",
    path: "#",
  }
]);

const isMenuOpen = ref(false);

// Method to toggle the menu visibility
const toggleMenu = () => {
  isMenuOpen.value = !isMenuOpen.value;
};

// Fetch data for the menu links on mounted
onMounted(async () => {
  const navData = await menuStore.fetchItems("nav");
  if (navData?.length) {
    navLinks.value = navData;
  }
});
</script>

<style scoped>
header {
  background-color: rgba(26, 24, 24, 0.2);
  padding: 20px 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}

.menu {
  display: flex;
  flex-shrink: 0;
}

.nav {
  display: block;
  flex-direction: column;
}

.menu__link {
  margin-left: 20px;
}

/* Show the menu links when the menu is open */
.menu-open .nav {
  display: flex;
}

.menu__toggle {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

.menu__toggle span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: transform 0.3s;
}

.menu__toggle span:nth-child(1) {
  top: 0;
}

.menu__toggle span:nth-child(2) {
  top: calc(50% - 1.5px);
}

.menu__toggle span:nth-child(3) {
  top: 100%;
}

.menu__toggle span:nth-child(1) {
  transform-origin: left;
  transform: translateY(-50%) scaleX(1);
}

.menu__toggle span:nth-child(3) {
  transform-origin: right;
  transform: translateY(-50%) scaleX(1);
}

/* Rotate the bars to form a cross on click */
.menu-open .menu__toggle span:nth-child(1) {
  transform: translateY(50%) rotate(45deg);
}

.menu-open .menu__toggle span:nth-child(2) {
  display: none;
}

.menu-open .menu__toggle span:nth-child(3) {
  transform: translateY(-600%) translateX(-30%) rotate(-45deg)
}

.hamburger-wrapper {
  display: none;
}

/* Show the hamburger menu on smaller screens */
@media screen and (max-width: 767px) {
  .hamburger-wrapper {
    display: block;
  }

  /* Hide the menu links by default */
  .nav {
    display: none;
  }

  /* Show the menu links when the menu is open */
  .menu-open .nav {
    display: flex;
  }

  .menu__link {
    margin-bottom: 5px;
  }
}
</style>