<template>
  <div class="title-block">
    <!-- Заголовок и подзаголовок -->
    <h1 class="title">{{ menu[0].title }}</h1>
    <p class="subtitle">{{ myCapitalize(menu[0].subtitle) }}</p>
    <MyButton />
  </div>
</template>

<script setup lang="ts">
import MyButton from "@/components/MyButton.vue";
import { ref, onMounted } from 'vue'
import { useMenuStore } from '@/stores/menu'
import { myCapitalize } from '@/utils/helpers'

const menuStore = useMenuStore()

// Данные для заголовка по умолчанию
const menu = ref([{
  title: "заголовок",
  subtitle: "подзаголовок"
}])

// Получаем данные для заголовка
onMounted(async () => {
  const menuData = await menuStore.fetchItems('title')
  if (menuData?.length) {
    menu.value = menuData
  }
})

</script>

<style>
.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.subtitle {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .title-block {
    text-align: center;
  }

  .title {
    text-align: left;
  }

  .subtitle {
    text-align: left;
  }
}
  
</style>
