* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #eeeded;
}

@font-face {
  font-family: Acherus;
  src: url(/fonts/horizon-type-acherusgrotesque-regular.otf);
}

body {
  font-family: 'Acherus', sans-serif;
  font-size: 14px;
  background-image: url(/images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1370px;
  margin: 0 auto;
  font-weight: normal;
  justify-content: space-between;
}

.content {
  display: grid;
  grid-template-columns: repeat(8, 25px);
  grid-gap: 5px;
}