<script setup lang="ts">
import MyHeader from "@/components/MyHeader.vue";
import MyContent from "@/components/MyContent.vue";
</script>

<template>
  <MyHeader />
  <MyContent />
</template>

<style scoped></style>
